.navbarMainContainer
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    background-color: rgb(252, 102, 102);
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}